IdCard/KiseTech.IdCard.Application/Kise.IdCard.Messaging/Service References/WcfService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kise.IdCard.QueryServer.UI.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kise.IdCard.QueryServer.UI.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IdCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDay" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsWanted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IssueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IssueDepartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Minority" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ValidateUntil" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdCardInfo" nillable="true" type="tns:IdCardInfo" />
</xs:schema>