IdCard/KiseTech.IdCard.Application/Kise.IdCard.Messaging/Service References/WcfService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Kise.IdCard.QueryServer.UI.Service/IdQueryWcfService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kise.IdCard.QueryServer.UI.Service" />
  <xs:element name="QueryId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByIdNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByIdNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kise.IdCard.QueryServer.UI.Service" minOccurs="0" name="QueryByIdNumberResult" nillable="true" type="q1:IdQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>